.row-1 {
  left: 0px;
}

#app_body {
  padding-top: 100px;
}

#blue-stripe {
  left: 0px;
  top: 0px;
  height: 500px;
  width: 100%;
  background-color: #30ace8;
}

#web-form {
  background-color: #fff;
  border-radius: 8px;
}

#submit-button {
  background-color: #005FA3;
}

.graphic-divs {
  background-color: #30ace8;
  border-radius: 8px;
}

#sw-footer {
  left: 0px;
  bottom: 500px;
  height: 100%;
  width: 100%;
}

